.clr_green{
    background-color: #5ACE7F !important;
}
.clr_red{
    background-color: #BF212F !important;
}
.clr_gray{
    background-color: #C8CBD2 !important;
}
.clr_placeholder{
    background-color: #C6CACC !important;
}
.clr_brown{
    background-color: #6F5745 !important;
}