/* NavBar_ */

.not_active {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.active {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.logo {
    letter-spacing: 0.21em !important;
}
@media only screen and (max-width: 820px) {
    .not_active {
        text-decoration: none;
        color: #5ACE7F !important;;
        text-transform: uppercase;
        font-size: small;
        font-weight: 300;
    }
    
    .active {
        text-decoration: none;
        color: #5ACE7F !important;
        text-transform: uppercase;
        font-size: small;
        font-weight: 900;
    }

    .NavBar_btn {
        border: 1px solid white;
        background-color: #5ACE7F;
        border-radius: 3px;
        padding: 5px 20px 5px 20px ;
        color: white !important;
        text-transform: uppercase;
        font-weight: 300;
        font-size: small;
        text-decoration: none;
    }
  }
.NavBar_btn {
    border: 1px solid white;
    background-color: #5ACE7F;
    border-radius: 3px;
    padding: 5px 20px 5px 20px ;
    color: white !important;
    text-transform: uppercase;
    font-weight: 300;
    text-decoration: none;
}

.NavBar_btn:hover {
    border: 1px solid white;
    background-color: white;
    border-radius: 3px;
    padding: 5px 20px 5px 20px ;
    color: #5ACE7F !important;
    font-weight: 500;
    text-decoration: none;
}