/* NavBar_ */

.not_active {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 300;
}

.active {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    font-weight: 900;
}

.logo {
    letter-spacing: 0.21em !important;
}

.NavBar_btn {
    border: 1px solid white;
    background-color: #5ACE7F;
    border-radius: 3px;
    padding: 5px 20px 5px 20px ;
    color: white;
    font-weight: 500;
    text-decoration: none;
}

.NavBar_btn:hover {
    border-color: #ffffff;
    background-color: white;
    border-radius: 3px;
    padding: 5px 20px 5px 20px ;
    color: #5ACE7F;
    font-weight: 500;
    text-decoration: none;
}

.NavBar_btn_active{
    border-color: #ffffff;
    background-color: white;
    border-radius: 3px;
    padding: 5px 20px 5px 20px ;
    color: #5ACE7F;
    font-weight: 500;
    text-decoration: none;
}