@media (min-width:375px) {
    .slider {
        position: relative;
        height: 2vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image {
        width: 200px;
        height: 108px;
        border-radius: 10px;
    }
    .right-arrow {
        position: absolute;
        top: 50%;
        right: 32px;
        font-size: 1rem;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .left-arrow {
        position: absolute;
        top: 50%;
        left: 32px;
        font-size: 1rem;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
}

@media (min-width:768px) {
    .slider {
        position: relative;
        height: 28vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image {
      width: 521px;
      height: 321px;
        border-radius: 10px;
    }
    .right-arrow {
        position: absolute;
        top: 50%;
        right: 32px;
        font-size: 2rem;
        color: white;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .left-arrow {
        position: absolute;
        top: 50%;
        left: 32px;
        font-size: 2rem;
        color: white;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
}

@media (min-width:1024px) {
    .slider {
        position: relative;
        height: 65vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }
    .image {
        width: 600px;
        height: 350px;
        border-radius: 10px;
    }
    .right-arrow {
        position: absolute;
        top: 50%;
        right: 32px;
        font-size: 3rem;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .left-arrow {
        position: absolute;
        top: 50%;
        left: 32px;
        font-size: 3rem;
        z-index: 10;
        cursor: pointer;
        user-select: none;
    }
    .slide {
        opacity: 0;
        transition-duration: 1s ease;
    }
    .slide.active {
        opacity: 1;
        transition-duration: 1s;
        transform: scale(1.08);
    }
}